html{
    height: 100vh;
}

body{
     min-height: 100%;
    width: 100%;
    padding: 0 10px;
    margin: auto;
    background: whitesmoke;
}

a{
    font-family: 'VT323';
}

img{
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

h1{
    margin: 50px 0 25px;
    font-family: 'VT323';
}

h2{
    font-family: 'VT323';
    margin-bottom: 30px;
}

p{
    margin-bottom: 10px;
    color: blueviolet;
    font-family: 'VT323';
    font-size: 30px;
}

.button{
    display: inline-block;
    font-family: 'VT323';
    padding: 5px;
    margin-bottom: 20px;
    background: #cd5555;
    border: 2px solid blue;
    color: rgb(255, 214, 144);
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.button:onclick {
    border-top-color: #28597a;
    background: rgb(255, 214, 144);
    color: rgb(255, 185, 0);
}

.button:active{
    background: rgb(255, 214, 144);
    color: rgb(255, 185, 0)
}

.quoteSpace{
    position: relative;
    background: #141414;
    display: table;
    text-align: center;
    margin: 0 auto 30px;
    width: 50%;
    height: 350px;
    min-height: calc(100vh*0.3);
    padding: 15px 15px 0px;
    border-radius: 5px;
}

#twitterLink{
    position: absolute;
    top: 250px;
    left: 350px;
    margin: auto;
}

i{
    margin-top: auto;
    padding: 4px;
    color:aliceblue;
    border: 2px solid blue;
    text-align: right;
    background-color: #cd5555;
    color: rgb(255, 214, 144);
    text-align: center;
}

footer{
    margin: 20px 4%;
    padding: 20px;
    border-top: 1px lightgray solid;
}

#footerP{
    color: blueviolet;
    font-size: 15px;
}

@media only screen and (max-device-width: 480px) {
    .quoteSpace{
        width: 90%;
        height: 200px;
        margin: auto;
    }

    h2{
        font-size: 20px;
        margin-bottom: 20px;
    }

    #twitterLink{
        position: absolute;
        top: 150px;
        left:45%;
        margin: auto;
    }
}